<template name="search">
    <div class="ui custom popup">
        <!-- search type drop down -->
        <label for="search_tag_type">Select field to search</label>
        <select id="search_tag_type">
            <option value="all">All Fields</option>
            <option value="c">Comment Tag</option>
            <option value="functional_code">Code Functional Tag</option>
            <option value="functional_english">English Functional Tag</option>
            <option value="general">General Tags</option>
            <option value="s">Spacial Tag</option>
            <option value="t">Temporal Tag</option>
        </select>

        {{> esInput index="tags" class="ui input" id="search-input" placeholder="Search..." }}
    </div>
    {{#esEach index="tags" id="search-input"}}
        <h3 >Results</h3>
        {{> post}}
    {{/esEach}}

    {{> esLoadMoreButton index="tags" id="search-input"}}

    {{#ifEsHasNoResults index="tags" id="search-input"}}
        <div class="no-results">No results found!</div>
    {{/ifEsHasNoResults}}

    {{#ifEsInputIsEmpty index="tags" id="search-input"}}
        <h3 class="default-results">Index of All Posts</h3>
        {{> posts}}
    {{/ifEsInputIsEmpty}}

    {{#ifEsIsSearching index="tags" id="search-input"}}
        <div>Loading...</div>
    {{/ifEsIsSearching}}
</template>