.inline-icon {
  vertical-align: middle !important;
  margin-right: -1px !important;
}

/* margins for inline-icons */
.inline-icon:first-child {
  margin-left: 5px;
}

.inline-icon:not(:first-child) {
  margin-left: 8px;
}