<template name="form">
	<div class="panel panel-default">
		<div class="panel-heading">
	        <h3 class="panel-title">Create new post: </h3>
	    </div>
		<!-- error message list -->
		<ul class="error-message">
		</ul>

		<form class="input-group">
		    <!-- <input type="file" name="files" multiple /> -->
			<div>
			    <label>Title</label>
	  			<input type="text" class="form-control" placeholder="Title" name="title">
	  		</div>
	  		<div>
			    <label>Text</label>
	  			<textarea name="text" class="form-control" placeholder="Text"></textarea>
	  		</div>
	  		<div class="tags-section">
			    <label>Tags</label>
			    <!-- <select id="tag-type-selector">
			    	<option id="cfx-control" value="cfx">Code Function Tag</option>
			    	<option id="efx-control" value="efx">English Function Tag</option>
			    	<option id="t-control" value="t">Temporal Tag</option>
			    	<option id="s-control" value="s">Spacial Tag</option>
			    	<option id="c-control" value="c">Comment Tag</option>
			    </select> -->
		  		<div>
		  			<label>Code Function Tag</label>
		  			<input name="cfx" type="text" class="tags" placeholder="Code Function Tag">
		  			<label>English Function Tag</label>
		  			<input name="efx" type="text" class="tags" placeholder="English Function Tag">
		  			<!-- <input name="t" type="text" class="tags" placeholder="Temporal Tag">
		  			<input name="s" type="text" class="tags" placeholder="Spacial Tag">
		  			<input name="c" type="text" class="tags" placeholder="Comment Tag"> -->
		  		</div>
	  			<!-- <button id="new-tag">Add New General Tag</button>
	  			<input name="tags[]" type="text" class="new-general-tag" placeholder="General Tag"> -->
	  		</div>

	  		<div class="image-section">
	  			<label>Image</label>
				<input type="file" class="form-control" id="file_bag" name="image" >

			    {{#each files}}
					{{percent_uploaded}}
			    {{/each}}
	  		</div>
		    
		    <div>
		    	<input type="submit" value="Create"/>
		    </div>
		</form>
	</div>
</template>