<template name="post">
	<!-- {{#with selectedPost }} -->
    <!-- <div class="post panel panel-default"> -->
<!-- 	    <div class="panel-heading">

	        <h3 class="panel-title">
	        	{{ title }} | 
	        	Created By: <a href="user/{{createrMetaInfo.creatorId}}">{{createrMetaInfo.createdBy}}</a>
	        	<span class="post-control {{ isOwner }}"><i class="fa fa-times post-remove"></i></span>
	        </h3>
	    </div> -->

<!-- 	    <div class="post-content">
	    	{{ text }}
	    </div>
	    <div>
	    	<img src="{{ imageUrl }}">
	    </div>
 -->

   <div class="timelineCard fluid card ui segment">

    <!-- ##### IMAGE ##### -->
    <div class="ui raised segment">
    	<a class="ui teal ribbon label"><a href="user/{{createrMetaInfo.creatorId}}">{{createrMetaInfo.createdBy}}</a> <span class=" detail">{{createrMetaInfo.createdAt}}</span> </a>
    	<img class="ui centered image" style="padding-top:10px;" src="{{ imageUrl }}">
		  <a class="ui right corner label post-control {{ isOwner }}">
				<i class="close icon post-remove"></i>
		  </a>
    </div>

    <a class="header">{{ title }}</a>

    <div class="description">{{ text }}</div>
    <div class="ui horizontal divider"></div>
	<div class="likes-section">
		{{> like postId=_id}}
	</div> 

	<!-- <div class="panel-footer"> -->
	    <!-- DIVIDER FOR COMMENTS -->
    <div class="ui horizontal divider"><i class="circular write icon button userAddComment"></i> </div>
    	<!-- TAGS -->
    	<div class="ui tag labels">
			<!-- <div class="tag removable_tag ui label label-info cfx-tag">
		        {{tags.cfx}}
		        <i class="delete icon tag-remove"></i>
		    </div>
		    <div class="tag removable_tag ui label label-info efx-tag">
		        {{tags.efx}}
		        <i class="delete icon"></i>
		    </div> -->
			{{#each tagObjects }}
				{{#if tag}}
				    <div class="tag removable_tag ui label label-default {{type}}" data-tag-type="{{type}}">
				        {{tag}}<i class="delete icon tag-remove"></i>
				    </div>
				{{/if}}
		    {{/each}}
	    </div>

	    <!-- add new tag field -->
<!-- 	    <ul class="horizontal-tags list-group">   
	        <li class="tag edittag list-group-item">
	            Create new tag: 
	            <select id="tag-type-selector">
	            	<option value="" disabled selected>Select tag type</option>
			    	<option id="t-control" value="t">Temporal Tag</option>
			    	<option id="s-control" value="s">Spacial Tag</option>
			    	<option id="c-control" value="c">Comment Tag</option>
			    	<option id="g-control" value="general">General Tag</option>
			    </select>
	            <input type="text" id="edittag-input" value="" disabled/><i class="fa fa-plus"></i>
	        </li>
	    </ul> -->
		<div class="ui fluid mini labeled action input">
        <div class="ui teal label">
           <div  class="ui dropdown">
            <i class="tags icon"></i> <div class="text" id="tag-type-selector" data-tag-type="">Tag type</div>
            <i class="dropdown icon"></i>
            <div class="menu">
              <div class="item dropdown-control" id="t-control" value="t">Temporal</div>
              <div class="item dropdown-control" id="s-control" value="s">Spacial</div>
              <div class="item dropdown-control" id="c-control" value="c">Comment</div>
              <div class="item dropdown-control" id="g-control" value="general">General</div>
            </div>
          </div>


        </div>

        <input type="text" placeholder="add a new tag..."> 
        <div class="ui label button addComment" >
          <i class="add icon "></i>
        </div> 
      </div> 


</div>


    <!-- </div> -->
</template>