.tag {
	margin: 4px 8px;
}
.tag-remove, .fa {
	margin-left: 20px;
	cursor: pointer;
}
.new-general-tag {
	display: none;
}
.post-control {
	float: right;
}

.post-content {
	margin: 5px 1em;
}

a {
	text-decoration: none !important;
}

div.ui.fluid.card{
    padding: 10px;
    margin-top: 20px;
}

.temporaltag {
  content: url("http://anniej.mit.edu/locuslens/temporaltag.png");
}

.geotag {
  content: url("http://anniej.mit.edu/locuslens/geotag.png");
}

.gentag {
  content: url("http://anniej.mit.edu/locuslens/gentag.png");
}


.engtag {
  content: url("http://anniej.mit.edu/locuslens/engtag.png");
}

.codetag{
  content: url("http://anniej.mit.edu/locuslens/codetag.png");
}