<template name="post">
	<!-- {{#with selectedPost }} -->
    <!-- <div class="post panel panel-default"> -->
<!-- 	    <div class="panel-heading">

	        <h3 class="panel-title">
	        	{{ title }} | 
	        	Created By: <a href="user/{{createrMetaInfo.creatorId}}">{{createrMetaInfo.createdBy}}</a>
	        	<span class="post-control {{ isOwner }}"><i class="fa fa-times post-remove"></i></span>
	        </h3>
	    </div> -->

<!-- 	    <div class="post-content">
	    	{{ text }}
	    </div>
	    <div>
	    	<img src="{{ imageUrl }}">
	    </div>
 -->

   <div class="timelineCard fluid card ui segment">

    <!-- ##### IMAGE ##### -->
    <div class="ui raised segment">
    	<a class="ui orange ribbon label"><a href="/user/{{createrMetaInfo.creatorId}}">{{createrMetaInfo.createdBy}}</a> <span class=" detail">{{createrMetaInfo.createdAt}}</span> </a>
    	<img class="ui centered image" style="padding-top:10px;" src="{{ imageUrl }}">
		  <a class="ui right corner label post-control {{ isOwner }}">
				<i class="close icon post-remove"></i>
		  </a>
    </div>

    <div class="ui horizontal divider"></div>
	<div class="likes-section">
		{{> like postId=_id}}
	</div> 

	<!-- <div class="panel-footer"> -->
	    <!-- DIVIDER FOR COMMENTS -->
    <div class="ui horizontal divider"><i class="circular write icon button userAddComment"></i> </div>
    	<!-- TAGS -->
    	<div class="ui fluid tag labels">
			<!-- <div class="tag removable_tag ui label label-info cfx-tag">
		        {{tags.cfx}}
		        <i class="delete icon tag-remove"></i>
		    </div>
		    <div class="tag removable_tag ui label label-info efx-tag">
		        {{tags.efx}}
		        <i class="delete icon"></i>
		    </div> -->
			  {{#each tagObjects }}
  				<!-- {{#if tag}} -->
  				  {{> tag}}
  				<!-- {{/if}} -->
		    {{/each}}
	    </div>

	    <!-- add new tag field -->
<!-- 	    <ul class="horizontal-tags list-group">   
	        <li class="tag edittag list-group-item">
	            Create new tag: 
	            <select id="tag-type-selector">
	            	<option value="" disabled selected>Select tag type</option>
			    	<option id="t-control" value="t">Temporal Tag</option>
			    	<option id="s-control" value="s">Spacial Tag</option>
			    	<option id="c-control" value="c">Comment Tag</option>
			    	<option id="g-control" value="general">General Tag</option>
			    </select>
	            <input type="text" id="edittag-input" value="" disabled/><i class="fa fa-plus"></i>
	        </li>
	    </ul> -->
		<div class="ui fluid mini right icon labeled input">
        <div class="ui tagselect label">
           <div class="ui dropdown">
            <i class="tags icon"></i> <div class="text" id="tag-type-selector" data-tag-type="">Tag type</div>
            <i class="dropdown icon"></i>
            <div class="menu">
              <div class="item dropdown-control" id="t-control" value="functional"> <i class="functional_tag icon"></i>Functional</div>
              <div class="item dropdown-control" id="s-control" value="spacial"><i class="spacial_tag icon"></i>TSpacial</div>
              <div class="item dropdown-control" id="t-control" value="temporal"> <i class="temporal_tag icon"></i>Temporal</div>
              <div class="item dropdown-control" id="c-control" value="comment"><i class="comment_tag icon"></i>TComment</div>
              <div class="item dropdown-control" id="g-control" value="general"><i class="general_tag icon"></i>General</div>
            </div>
          </div>
        </div>

        <input type="text" id="normal_input" placeholder="add a new tag...">
        <!-- <div id="new_functional_input"> -->
        <input type="text" id="code" class="functional_input" placeholder="add a new code functional tag...">
        <input type="text" id="english" class="functional_input" placeholder="add a new english functional tag..."> 
        <!-- </div> -->
        <!-- <div class="ui label button " > -->
          <i class="add circle addComment link icon"></i>
        <!-- </div>  -->

      </div> 


</div>


    <!-- </div> -->
</template>