.tag {
	margin: 4px 8px;
}
.tag-remove, .fa {
	margin-left: 20px;
	cursor: pointer;
}
.new-general-tag {
	display: none;
}
.post-control {
	float: right;
}

.post-content {
	margin: 5px 1em;
}

.functional_input {
  display: none;  
}

a {
	text-decoration: none !important;
}

div.ui.fluid.card{
    padding: 10px;
    margin-top: 20px;
}

.functional_tag {
  /* TODO: temp placeholder; */
  content: url("/images/default.png");
}

.temporal_tag {
  content: url("/images/icons/temporaltag.png");
}

.spacial_tag {
  content: url("/images/icons/geotag.png");
}

.general_tag {
  content: url("/images/icons/gentag.png");
}


.engtag {
  content: url("/images/icons/engtag.png");
}

.codetag{
  content: url("/images/icons/codetag.png");
}

/* icon for high-five */
.high-five-active {
  content: url("/images/hi5.jpg");
}

.high-five-inactive {
  content: url("/images/hi5_unselected.jpg");
}