.tag {
	margin: 4px 8px;
}
.tag-remove, .fa {
	margin-left: 20px;
	cursor: pointer;
}
.new-general-tag {
	display: none;
}
.post-control {
	float: right;
}

.post-content {
	margin: 5px 1em;
}

a {
	text-decoration: none !important;
}

div.ui.fluid.card{
    padding: 10px;
    margin-top: 20px;
}
/*
.temporaltag.icon {
    background-image: url("http://anniej.mit.edu/locuslens/temporaltag.png");
    background-position: center center;
    z-index: 1000;
}
*/
.temporaltag {
  content: url("http://anniej.mit.edu/locuslens/temporaltag.png");
}

