<template name="tag">
	<!-- <div class="list removable_tag ui {{type}} {{colorCode type}}" data-tag-type="{{type}}"> -->
  <!-- <div class="removable_tag ui {{type}} {{type}}" data-tag-type="{{type}}"> -->
	  <div class="item removable_tag {{type}}" data-tag-type="{{type}}">
      <!-- <i class="{{tagtype type}} ui avatar image"></i> {{tags.tag}} | {{ owerObj.username }} -->
      <i class="{{type}}_tag ui avatar image"></i>
      <div class="comment_container">
        {{#each tags }}
          {{#if tag}}
            {{> comment}}
          {{/if}}
        {{/each}}
      </div>
    </div>
	<!-- </div> -->
</template>