<template name="index">
	<head>
	  	<title>locuslens</title>
	    <!-- <meta name="viewport" content="initial-scale=1"> -->
	    <meta name="viewport" content="minimal-ui, width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

	    <!-- Make it fullscreen / hide the browser URL bar -->
	    <meta name="apple-mobile-web-app-capable" content="yes" />
	    <meta name="apple-mobile-web-app-title" content="Locus lens">

        <meta name="apple-mobile-web-app-status-bar-style" content="black">
	    <meta name="format-detection" content="telephone=no">
	    <link rel="apple-touch-icon" href="apple-touch-icon.png" />

	</head>

	<body>

		<!-- ##### MENU ##### -->

		<div class="ui inverted secondary pointing fixed menu" style="background-color:rgba(0, 0, 0, 0.9); padding-top: 20px;" id="fixedMenu">
		  <!-- <div class="menuContainer" > -->
		    <a class="active item" id="goHome">
		      <i class="home icon"></i>
		    </a>
		    <a class="item" id="goUser">
		      <i class="user icon"></i>
		    </a>

		    <a class="item" id="goSearch">
		      <i class="inverted search icon" id = "userSearch"></i>
		    </a>

		    <div class="right menu">

		      <!-- ORIGINALLY PLANNING A SEARCH BAR, BUT I THINK IT'S BETTER WITH A FULL SCREEN DIMMER -->
		      <!-- <div class="item">
		        <div class="ui right icon input mini">
		          <input type="text" style="width:80px; color:white;"> <i class="inverted search icon"></i>
		        </div>
		      </div> -->


		      <a class="item">
		        <i class="add circle icon" id="userUploadNew"></i>
		      </a>
		    </div>
		  </div>

		<div class="container">
				<!-- {{> accountButtons }}	 -->
				<!-- {{ special }} -->
				{{> accountButtons }}
		  	{{#if currentUser}}
		  		<section id="search-box">
		  			<!-- <a href="" id="show-search" class="btn btn-default">Search</a> -->
		  			
		  			<div id="searchable-area">
		  				{{> search}}
		  			</div>
		  		</section>

		  		<!-- new post form -->
		  		{{> form}}
		  	{{else}}
		  		<h2>You haven't logged in yet</h2>
		  		<p>Please log in or sign in with locus email.</p>
		  	{{/if}}
		</div>
	</body>
</template>