

<head>
    <title>locuslens</title>
    <!-- <meta name="viewport" content="initial-scale=1"> -->
    <meta name="viewport" content="minimal-ui, width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Make it fullscreen / hide the browser URL bar -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="Locus lens">

    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <link rel="apple-touch-icon" href="apple-touch-icon.png" />

</head>
<template name="index">

  <body>

    {{> menu}}

    <div class="container">
        <!-- {{ special }} -->
        <!-- {{> accountButtons }} -->
        {{#if currentUser}}
          <section id="search-box">
            <!-- <a href="" id="show-search" class="btn btn-default">Search</a> -->
            
            <div id="searchable-area">
              {{> search}}
            </div>
          </section>

          <!-- new post form -->
          {{> form}}
        {{else}}
          <h2>You haven't logged in yet</h2>
          <p>Please log in or sign in with locus email.</p>
          <div class="ui large buttons">
            <a href="/sign-up" class="ui blue button">Register</a>
            <div class="or"></div>
            <a href="/sign-in" class="ui green button">Sign in</a>
          </div>
        {{/if}}
    </div>
  </body>
</template>