<template name="user">
	{{#with currUser}}
		<div class="container">
			<div><a href="/">Back</a></div>

			<h2>Profile page for {{profile.name}}</h2>
			<ul class="list-group profile">
				<li class="list-group-item">
					<span><b>Profile Picture</b></span>: 
					<img src="{{ profile.imageUrl }}" id="profile-pic" width="230">
					<!-- image field -->
					<input type="file" class="form-control" id="file_bag" name="image" >
					<br>
					{{#if isCurrentUser}}
						<button type="button" class="btn btn-default" id="change-profile-pic">Change profile picture</button>
					{{/if}}
				</li>
				{{#each profiles}}
					<li class="list-group-item"><span><b>{{this.key}}</b></span>: {{this.value}}</li>
				{{/each}}
			</ul>
			<hr>
			<section id="own-posts">
				<h3 class="accordion">Posts created: total {{ ownedPosts.count }}
					<i class="fa fa-angle-double-down"></i>
					<i class="fa fa-angle-double-up"></i>
				</h3>
				<div class="accordion-body">
					{{#if ownedPosts.count }}
						{{#each ownedPosts}}
							{{> post}}
						{{/each}}
					{{else}}
						<p>No posts yet!</p>
					{{/if}}
				</div>
			</section>
			<hr>
			<section id="loved-posts">
				<h3 class="accordion">Posts loved: total {{ likedPosts.count }}
					<i class="fa fa-angle-double-down"></i>
					<i class="fa fa-angle-double-up"></i>
				</h3>
				<div class="accordion-body">
					{{#if likedPosts.count }}
						{{#each likedPosts}}
							{{> post}}
						{{/each}}
					{{else}}
						<p>No likes yet!</p>
					{{/if}}
				</div>
			</section>

			<div><a href="/">Back</a></div>
		</div>
	{{/with}}
</template>