<template name="user">
	{{#with currUser}}
		<div class="container">
			<h2>Profile page for {{profile.name}}</h2>
			<ul class="list-group profile">
				<li class="list-group-item">
					<span><b>Profile Picture</b></span>: 
					<img src="{{ profile.imageUrl }}" id="profile-pic" width="300">
					<!-- image field -->
					<input type="file" class="form-control" id="file_bag" name="image" >
					<br>
					<button type="button" class="btn btn-default" id="change-profile-pic">Change profile picture</button>
				</li>
				{{#each profiles}}
					<li class="list-group-item"><span><b>{{this.key}}</b></span>: {{this.value}}</li>
				{{/each}}
			</ul>
			<hr>
			<section id="own-posts">
				<h3>Posts you have created: </h3>
				{{#if ownedPosts.count }}
					{{#each ownedPosts}}
						{{> post}}
					{{/each}}
				{{else}}
					<p>No posts yet!</p>
				{{/if}}
			</section>
			<hr>
			<section id="loved-posts">
				<h3>Posts you have loved: </h3>
				{{#if likedPosts.count }}
					{{#each likedPosts}}
						{{> post}}
					{{/each}}
				{{else}}
					<p>No likes yet!</p>
				{{/if}}
			</section>

			<div><a href="/">Back</a></div>
		</div>
	{{/with}}
</template>